body {
    font-family: 'Arial', sans-serif;
    background-color: #424549;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #36393e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #36393e;
    border-radius: 5px;
    font-size: 0.9rem;
    border-width: 1px;
    border-style: solid;
    border-color: #1e2124;
    color: #f0f0f0;
    font-family: arial;
}

form {
    display: flex;
    margin-top: 20px;
   
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border-width: 1px;
    color: rgb(255, 255, 255);
    background-color: #1e2124;
    border-style: none;
}

button {
    padding: 10px;
    margin-left: 10px;
    background-color: #1e2124;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
