<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <title>4chan Crap Off</title>
</head>
<body>
    <div class="container">
        <h1>4Chan Hideout</h1>
        <ul id="message-list">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
        <form id="message-form" method="post" action="">
            <input type="text" id="message-input" name="message" placeholder="Type your message..." required>
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
